In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/tasks-from-mover.csv')

In [3]:
user_id = '2be0ccf2-3608-11ea-9dc1-0242c0a85009'
words_nlp = [
    "гидравлический",
    "люди",
]

In [4]:
df.head(10)

,id,name,times,owner_id
0,00014a82-970c-11e9-865b-0242ac130007,"Оформление ПП на отм. +18,250. Блок 1, 2",14400,NaN
1,0001c00a-07cb-11eb-b5eb-0242c0a87005,"Секции 6,7. Гидравлический расчет",205200,2be0ccf2-3608-11ea-9dc1-0242c0a85009
2,000235a6-7eee-11ea-acd4-0242c0a87005,Составление эскиза ТЗ на Инженерно-Геологическ...,86400,NaN
3,000a739d-2919-4f85-8775-506041deebac,Формирование ведомости монтажной пены,86400,NaN
4,000b41b7-6a4f-11ea-acd4-0242c0a87005,Расстановка НО и компенсаторов 1 блока,32400,NaN
5,00130f74-f335-11ea-a22c-0242c0a87005,Формирование РПЗ,205200,217
6,0013de98-8a97-11ea-acd4-0242c0a87005,Исправление коллизий,2419200,NaN
7,00153461-6251-11e8-8633-0242ac130004,Моделирование и расчёт системы отопления,6220800,NaN
8,0016de40-05a8-11e9-8b7e-0242ac130005,Узлы и фрагменты по кровле,432000,NaN
9,0019e0a0-ed2a-4494-931a-994b0fe35250,Проверка/сборка альбома,86400,NaN

In [5]:
# only once!
titles = df['name'].str.lower()

In [6]:
titles

0                 оформление пп на отм. +18,250. блок 1, 2
1                        секции 6,7. гидравлический расчет
2        составление эскиза тз на инженерно-геологическ...
3                    формирование ведомости монтажной пены
4                   расстановка но и компенсаторов 1 блока
                               ...
63316                                               разрез
63317                                моделирование 3 этажа
63318                          устранение пересечек 11.1.2
63319                    формирование спецификации проемов
63320                     моделирование потолков в подвале
Name: name, Length: 63321, dtype: object

In [7]:
tasks = []
tmp = []

In [8]:
for idx, words in enumerate(titles):
    for word in str(words).split():
        if word in words_nlp:
            if idx in tmp:
                for index, [task_idx, rating] in enumerate(tasks):
                    if task_idx == idx:
                        tasks[index][1] += 1  # [index][1] - it's a rating!
            else:
                tmp.append(idx)
                tasks.append([idx, 1])

In [9]:
tasks

[[1, 1],
 [466, 1],
 [2112, 1],
 [2184, 1],
 [2458, 1],
 [2723, 1],
 [3809, 1],
 [3810, 1],
 [3817, 1],
 [4728, 1],
 [4966, 1],
 [5636, 1],
 [5686, 1],
 [5700, 1],
 [5863, 1],
 [6541, 1],
 [7036, 1],
 [7087, 1],
 [8586, 1],
 [8596, 1],
 [9054, 1],
 [10117, 1],
 [11000, 1],
 [11034, 1],
 [11641, 1],
 [11645, 1],
 [12108, 1],
 [12131, 1],
 [12220, 1],
 [14164, 1],
 [14175, 1],
 [14547, 1],
 [14620, 1],
 [14806, 1],
 [14875, 1],
 [15957, 1],
 [16577, 1],
 [16829, 1],
 [17928, 1],
 [18882, 1],
 [18883, 1],
 [20528, 1],
 [20535, 1],
 [20867, 1],
 [21664, 1],
 [21707, 1],
 [21708, 1],
 [21712, 1],
 [21976, 1],
 [22207, 1],
 [22401, 1],
 [22830, 1],
 [23445, 1],
 [23606, 1],
 [23820, 1],
 [24153, 1],
 [25273, 1],
 [25319, 1],
 [27618, 1],
 [28048, 1],
 [28051, 1],
 [28164, 1],
 [28397, 1],
 [29024, 1],
 [29129, 1],
 [29593, 1],
 [29905, 1],
 [30302, 1],
 [31366, 1],
 [32020, 1],
 [32042, 1],
 [32269, 1],
 [33600, 1],
 [36134, 1],
 [36138, 1],
 [37155, 1],
 [37414, 1],
 [38826, 1],
 [39890, 1],
 [40279, 1],
 [40506, 1],
 [41312, 1],
 [41419, 1],
 [41431, 1],
 [42077, 1],
 [42078, 1],
 [42086, 1],
 [42762, 1],
 [42988, 1],
 [43101, 1],
 [43286, 1],
 [43324, 1],
 [43408, 1],
 [43475, 1],
 [44329, 1],
 [44585, 1],
 [44813, 1],
 [45628, 1],
 [46516, 1],
 [47141, 1],
 [47299, 1],
 [47356, 1],
 [48374, 1],
 [48751, 1],
 [49459, 1],
 [49705, 1],
 [49709, 1],
 [49963, 1],
 [50060, 1],
 [51151, 1],
 [51615, 1],
 [51849, 1],
 [53153, 1],
 [53260, 1],
 [53266, 1],
 [54022, 1],
 [55489, 1],
 [55533, 1],
 [56191, 1],
 [56367, 1],
 [56474, 1],
 [57006, 1],
 [57576, 1],
 [57789, 1],
 [57823, 1],
 [57918, 1],
 [58514, 1],
 [58691, 1],
 [58727, 1],
 [58874, 1],
 [59493, 1],
 [59504, 1],
 [59704, 1],
 [60025, 1],
 [60219, 1],
 [60462, 1],
 [60568, 1],
 [62430, 1],
 [62629, 1],
 [62653, 1],
 [62760, 1],
 [62834, 1],
 [62845, 1],
 [62961, 1],
 [63048, 1],
 [63051, 1]]

In [10]:
data = []

In [11]:
for idx, rating in tasks:
    owner_id, times = df.loc[idx, ['owner_id', 'times']]
    # space for adding params
    if owner_id == user_id:
        rating += 2
    
    # END space for adding params
    
    data.append([rating, times])

In [12]:
data

[[3, 205200],
 [1, 86400],
 [1, 86400],
 [1, 172800],
 [1, 259200],
 [1, 345600],
 [1, 723600],
 [1, 1242000],
 [1, 352800],
 [1, 172800],
 [1, 172800],
 [1, 604800],
 [1, 518400],
 [1, 259199],
 [1, 691200],
 [1, 518400],
 [1, 104400],
 [1, 86400],
 [1, 1468800],
 [1, 1468800],
 [1, 550800],
 [1, 2624400],
 [1, 1036800],
 [1, 1036800],
 [1, 86400],
 [1, 68400],
 [1, 205200],
 [1, 896400],
 [1, 32400],
 [1, 259200],
 [1, 259200],
 [1, 118800],
 [1, 18000],
 [1, 86400],
 [1, 723600],
 [1, 259200],
 [1, 352800],
 [3, 291600],
 [1, 86400],
 [1, 180000],
 [1, 180000],
 [1, 518400],
 [1, 432000],
 [1, 86400],
 [1, 950400],
 [1, 345600],
 [1, 20400],
 [1, 70800],
 [1, 172800],
 [1, 345600],
 [1, 432000],
 [1, 259200],
 [1, 432000],
 [1, 172800],
 [1, 518400],
 [1, 259200],
 [1, 345600],
 [1, 432000],
 [1, 1468800],
 [1, 518400],
 [1, 518400],
 [1, 432000],
 [1, 432000],
 [1, 432000],
 [1, 7200],
 [1, 118800],
 [1, 378000],
 [1, 518400],
 [1, 2592000],
 [1, 432000],
 [1, 518400],
 [1, 259200],
 [1, 1242000],
 [1, 86400],
 [1, 259200],
 [1, 172800],
 [1, 896400],
 [1, 550800],
 [1, 2624400],
 [1, 604800],
 [1, 259200],
 [1, 172800],
 [1, 259200],
 [1, 259200],
 [1, 723600],
 [1, 1242000],
 [1, 352800],
 [1, 86400],
 [1, 86400],
 [1, 68400],
 [1, 32400],
 [1, 104400],
 [1, 86400],
 [1, 118800],
 [1, 259200],
 [1, 86400],
 [1, 86400],
 [1, 259200],
 [1, 86400],
 [1, 86400],
 [1, 172800],
 [1, 259200],
 [1, 86400],
 [1, 86400],
 [1, 86400],
 [1, 81600],
 [1, 81600],
 [1, 378000],
 [1, 259200],
 [1, 604800],
 [1, 1501200],
 [1, 86400],
 [1, 86400],
 [1, 79200],
 [1, 79200],
 [1, 345600],
 [1, 4000500],
 [1, 86400],
 [1, 86400],
 [1, 432000],
 [1, 259200],
 [1, 518400],
 [1, 432000],
 [1, 259200],
 [1, 104400],
 [1, 21600],
 [1, 86400],
 [1, 86400],
 [1, 154800],
 [1, 86400],
 [1, 259200],
 [1, 259200],
 [1, 363600],
 [1, 86400],
 [1, 259200],
 [1, 86400],
 [1, 896400],
 [1, 259200],
 [1, 604800],
 [1, 291600],
 [1, 518400],
 [1, 432000],
 [1, 723600],
 [1, 432000],
 [1, 102360],
 [1, 98640]]