In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/tasks-from-mover.csv')

In [3]:
user_id = '2be0ccf2-3608-11ea-9dc1-0242c0a85009'
nlp_words = [
    "узлы",
]

In [4]:
df.head(10)

,d,name,times,owner_id
0,00014a82-970c-11e9-865b-0242ac130007,"Оформление ПП на отм. +18,250. Блок 1, 2",14400,NaN
1,0001c00a-07cb-11eb-b5eb-0242c0a87005,"Секции 6,7. Гидравлический расчет",205200,2be0ccf2-3608-11ea-9dc1-0242c0a85009
2,000235a6-7eee-11ea-acd4-0242c0a87005,Составление эскиза ТЗ на Инженерно-Геологическ...,86400,NaN
3,000a739d-2919-4f85-8775-506041deebac,Формирование ведомости монтажной пены,86400,NaN
4,000b41b7-6a4f-11ea-acd4-0242c0a87005,Расстановка НО и компенсаторов 1 блока,32400,NaN
5,00130f74-f335-11ea-a22c-0242c0a87005,Формирование РПЗ,205200,217
6,0013de98-8a97-11ea-acd4-0242c0a87005,Исправление коллизий,2419200,NaN
7,00153461-6251-11e8-8633-0242ac130004,Моделирование и расчёт системы отопления,6220800,NaN
8,0016de40-05a8-11e9-8b7e-0242ac130005,Узлы и фрагменты по кровле,432000,NaN
9,0019e0a0-ed2a-4494-931a-994b0fe35250,Проверка/сборка альбома,86400,NaN

In [5]:
# only once!
titles = df['name'].str.lower()

In [6]:
titles

0                 оформление пп на отм. +18,250. блок 1, 2
1                        секции 6,7. гидравлический расчет
2        составление эскиза тз на инженерно-геологическ...
3                    формирование ведомости монтажной пены
4                   расстановка но и компенсаторов 1 блока
                               ...
63316                                               разрез
63317                                моделирование 3 этажа
63318                          устранение пересечек 11.1.2
63319                    формирование спецификации проемов
63320                     моделирование потолков в подвале
Name: name, Length: 63321, dtype: object

In [7]:
tasks = []
tmp = []

In [8]:
    for idx, words in enumerate(titles):
        for word in str(words).split():
            if word in nlp_words:
                if idx in tmp:
                    for task_idx, [index, _] in enumerate(tasks):
                        if index == idx:
                            tasks[task_idx][1] += 1  # [task_idx][1] - it's a rating!
                else:
                    tmp.append(idx)
                    tasks.append([idx, 1])

In [11]:
tasks[1:5]

[[24, 1], [267, 1], [423, 1], [511, 1]]

In [12]:
data = []

In [13]:
for idx, rating in tasks:
    owner_id, times = df.loc[idx, ['owner_id', 'times']]
    # space for adding params
    if owner_id == user_id:
        rating += 2
    
    # END space for adding params
    
    data.append([rating, times])

In [14]:
data[1:5]

[[1, 61200], [1, 18000], [1, 14400], [1, 90000]]